body{ font-family: 'Poppins', sans-serif;
}
 

.healthy{
    color: coral;
    font-size: 50px;}
section{
    display: flex;
    margin-bottom: 100px;
}
    
.first{
    width: 50%;
    padding-left: 2%;


   
}
.first img{
    width: 64%;
    padding-left: 10%;
}
.skip{
    color: darkgray;}
    .order-link{
        width: 50%;
        background-image: linear-gradient(red,orange);
        text-decoration: none;
        padding:10px 30px;
        border-radius: 15px;
        color: cornsilk;
        font-weight: 700; }

    .my-attribute{
        background-image: url(images/shapes/Frame\ 58.jpg);
        background-repeat: no-repeat;
    }
    .second img{
        width: 45%;

    }
    .second-banner{
        background-image: url(images/shapes/7.png);
        background-repeat: no-repeat;
    }
    #second-part{
        text-align: bottom;
        
        width:50%;
        padding-top: 110px;
    }